.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bgBox {
  height: 150px;
  background: url("./assets/img/logo512.png") no-repeat center/auto 100%;
}

.listWrap {
  background: greenyellow;
  height: 500px;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}
.listWrap .blank-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.listWrap .entity-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.listWrap .entity-list .item {
  text-align: center;
  line-height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
